#header {
	background-color: #ffffff;
	color: #231580;
	text-align: center;
	width:100%;
	padding:5px;
	border-style: solid;
    border-top: thick dotted #800080;
    border-bottom: thick dotted #800080;
    border-left:none;
    border-right:none;
}

#footer {
	background-color: #ffffff;
	text-align: center;
	width:auto;
	padding:7px;
	border-style: solid;
    border: thick dotted #800080;
}

#myModal {
top:25%;
outline: none;
}

.modal-header {
  	background-color: #B0045A;
}

.carousel-inner .active.left { left: -16.7%; }
.carousel-inner .next        { left:  16.7%; }
.carousel-inner .prev        { left: -16.7%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}

h4 { color:white; }

body {
    text-align:center;
}

table, th, td {
	border: 1px solid #ddd;
	margin: auto;
}

table {
	border-collapse: collapse;
	width: 50%;
	
}

th, td {
	height: 50px;
	padding: 10px;
}

th {
	background-color: #4F0C8F;
	color: white;
	text-align:center;
	vertical-align:middle;
}

td {
	background-color: #ffffff;
}
a:link, a:visited {
	color: #042085;
	text-decoration: none;
	cursor: hand;
}

a:link:active, a:visited:active {
	color: #F75317;
}

div.container {
	display: inline-block;
}

.button {
    background-color: #4CAF50; /* Green */
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}